:root {
    --red: #e0342e;
    --shadow-red: #E2413C;
    --white: #FCFCFC;
    --gray: #B3C7BA;
    --black: #2E2922;
    --fs-description: 20px;
}

.contact__title {
    font-size: var(--mobile-h3);
    color: var(--red-text);
    text-align: center;
    padding: 0.8rem;
    letter-spacing: .3px;
    font-weight: 600;
    font-family: var(--h2-font);
}


/*starts Contact Form*/
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_form_group {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
    background: rgba(46, 41, 34, 0.75);
}

.contact_form_field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    color: var(--white);
    max-width: 100%;
}

.contact_label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-left: 5px;
}

.contact__input {
    border-radius: 5px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: #495057;
    background-color: #f3f3f3;
    height: 44px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #f3f3f3;
    max-width: 100%;
    margin-bottom: 5px;
}



.contact__textarea {
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #f3f3f3;
    resize: none;
    background-color: #f3f3f3;
    max-width: 100%;
}

.contact_form_field_detail {
    font-size: 0.7rem;
    color: var(--gray);
    margin-left: 1.5rem;
    max-width: 100%;
}

.contact_form_submit {
    width: 100%;
    max-width: 100%;
    font-size: var(--p);
    height: var(--normal-btn);
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: var(--border-radius-normal-btn);
    cursor: pointer;
}


.contact_form_submit:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: bolder;
    border: 1px solid var(--red);
}
/*ends Contact Form*/

/*starts Contact Social Media*/
.contact_social_media_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    color: var(--shadow-red);
}

.contact_social_media_container {
    padding: 1.5rem;
}

.contact_social_media_link {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--shadow-red);
    z-index: 0;
}

.contact_social_media_img {
    max-width: 48px;
    max-height: 48px;
    filter: drop-shadow(4px 4px 4px #2E2922);
    transition: filter 750ms;
}

.instagram:hover {
    filter: drop-shadow(0px 0px 8px #e0342e);
}

.facebook:hover {
    filter: drop-shadow(0px 0px 8px  #3D5A98);
}

.linkedin:hover {
    filter: drop-shadow(0px 0px 8px  #0077B5);
}
/*ends Contact Social Media*/

@media only screen and (min-width:390px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .contact__title {
        font-size: var(--mobile-h1);
    }
 }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .contact_form_group {
        width: 95%; 
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: var(--border-radius-large-btn);
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contact_form{
        margin: 1rem 0 1rem 0;
    }
    
    .contact_form_group {
        padding: 1rem;
        border-radius: 5px;
        border-color: var(--black);
        background: rgba(46, 41, 34, 0.75);
        width: 90%;
        max-width: 780px;
        padding: 1.5rem;
        
    }

    .contact__title {
        font-size: 3rem;
    }
    
    .contact_social_media_container {
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .list{
        width: 80%;
    }

    .list-item_icon {
        margin-right: 5px;
    }
    
}


@media only screen and (min-width: 1200px) {
    
    .contact_form_group{
        width: 55%;
        padding: 1.5rem;
    }

}