:root {
    /* Cores */
    --red: #e0342e;
    --shadow-red: #E2413C;
    --white: #FCFCFC;
    --gray: #f0f0f0;
    --black: #2E2922;
    --fs-description: 20px;

    --red-text: #af0e0e;
    --black-text: #2E2922;
    --white-text: #FCFCFC;

    /* Fontes */
    --h1-font: 'Oswald', sans-serif;
    --h2-font: 'PT Sans', sans-serif;
    --h3-font: 'PT Sans', sans-serif;
    --p-font: 'PT Sans', sans-serif;

    /* Tipografia*/
    --h1-banner: 56px;
    --h1: 44px;
    --h2: 33px;
    --h3: 22px;
    --p: 18px;
    --mobile-h1: 33px;
    --mobile-h2: 27px;
    --mobile-h3: 22px;
    --mobile-p: 18px;
    --h1-line-height: calc(var(--h1) * 1.2);
    --h2-line-height: calc(var(--h2) * 1.5);
    --h3-line-height: calc(var(--h3) * 1.5);
    --p-line-height: calc(var(--p) * 1.5);

    /* Botões*/
    --normal-btn: 44px;
    --large-btn: 54px;
    --extra-large-btn: 64px;
    --border-radius-normal-btn: 5px;
    --border-radius-large-btn: 10px;
    --border-radius-extra-large-btn: 15px;

    /* Sombras */
    --shadow-input: 1px 1px 2px var(--gray);
    --shadow-card: 2px 2px 2px var(--gray);
}
.projects__project-section{
    padding: 0.3rem 1rem;

}

.projects__title {
    font-size: var(--mobile-h1);
    color: var(--red-text);
    text-align: center;
    padding: 0.8rem;
    letter-spacing: .3px;
    font-weight: 600;
    font-family: var(--h2-font);
}

.projects__project_title {
    font-size: var(--h2);
    text-align: center;
    padding: 0.8rem 0 0.5rem 0;
    color: var(--black);
    font-weight: 600;
    letter-spacing: 1px;
}

.project__img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(4px 4px 4px #a0a0a0);
    margin: auto;
    display: block;
}

.project__description{
    font-size: var(--fs-description);
    text-align: left;
    padding: 0.3rem 1rem;
    color: var(--black);
}

@media only screen and (min-width:480px) { 
    /* smartphones, Android phones, landscape iPhone */
    .project__img {
        max-width: 85%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .projects__project-section{
        padding-bottom: 1rem;
        width: 95%;
        margin: 0 auto;
    }

    .project__img {
        max-width: 75%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .projects__project-section{
        width: 85%;
    }

    .main {
        flex-direction: column;
    }


    .projects__title {
        font-size: 3rem;
    }
    
    .projects__project_title {
        font-size: 2rem;
    }

    .project__img {
        max-width: 70%;
        height: auto;
        margin: 0 auto;
        display: block;
        /* float: left; */
        padding: 5px 10px 0px 0px;
    }
    .project__description{
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {
    .projects__project-section{
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .projects__project-section{
        width: 60%;
    }
}
