:root {
    --red: #e0342e;
    --shadow-red: #E2413C;
    --white: #FCFCFC;
    --gray: #B3C7BA;
    --black: #2E2922;
    --red-text: #af0e0e;
    --fs-description: 20px;
}

.sent_container {
    margin: 3rem;
    color: var(--red-text);
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sent_container img {
    max-width: 80vw;
    margin: 1.5rem;
}

.sent__title {
    font-size: 1.5rem;
    padding: 0.8rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.sent_back_btn {
    margin: 1.5rem;
    padding: 0.3rem;
    width: 150px;
    font-size: 1.3rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 750ms, background-color 750ms, color 750ms;
}


.sent_back_btn:hover {
    background-color: var(--white);
    color: var(--red);
    box-shadow: 0px 0px 4px 4px var(--red)
}

/*starts Contact Form*/
.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_form_group {
    padding: 1rem;
    width: 100%;
    border: none;
    background: rgba(46, 41, 34, 0.75);
}

.contact_form_field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    color: var(--white);
}

.contact_form_field_detail {
    font-size: 0.7rem;
    color: var(--gray);
    margin-left: 1.5rem;
}

.contact_form_submit {
    width: 100%;
    font-size: 1.3rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
}

.contact_form_submit:hover {
    background-color: var(--white);
    color: var(--red);
    box-shadow: 0px 0px 4px 4px #e0342e;
    font-weight: bolder;
}
/*ends Contact Form*/

/*starts Contact Social Media*/
.contact_social_media_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    color: var(--shadow-red);
}

.contact_social_media_container {
    padding: 1.5rem;
}

.contact_social_media_link {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--shadow-red);
}

.contact_social_media_link img {
    max-width: 48px;
    max-height: 48px;
    filter: drop-shadow(4px 4px 4px #2E2922);
}
/*ends Contact Social Media*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contact_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }
    
    .contact_form_group {
        padding: 1rem;
        width: 40%;
        border-radius: 5px;
        border-color: var(--black);
        background: rgba(46, 41, 34, 0.75);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .contact_form_field{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        color: var(--white);
    }
    
    .contact_form_field span {
        font-size: 0.7rem;
        color: var(--gray);
        margin-left: 1.5rem;
    }
    
    .contact_form_submit {
        width: 100%;
        font-size: 1.3rem;
        background-color: var(--red);
        color: var(--white);
        border: none;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    }
    
    .contact_form_submit:hover {
        background-color: var(--white);
        color: var(--red);
        box-shadow: 0px 0px 4px 4px #e0342e;
        font-weight: bolder;
    }

    .contact_social_media_container {
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
}
