:root {
    /* Cores */
    --red: #e0342e;
    --shadow-red: #E2413C;
    --white: #FCFCFC;
    --gray: #f0f0f0;
    --black: #2E2922;
    --fs-description: 20px;

    --red-text: #af0e0e;
    --black-text: #2E2922;
    --white-text: #FCFCFC;

    /* Fontes */
    --h1-font: 'Oswald', sans-serif;
    --h2-font: 'PT Sans', sans-serif;
    --h3-font: 'PT Sans', sans-serif;
    --p-font: 'PT Sans', sans-serif;

    /* Tipografia*/
    --h1-banner: 56px;
    --h1: 44px;
    --h2: 33px;
    --h3: 22px;
    --p: 19px;
    --mobile-h1: 30px;
    --mobile-h2: 27px;
    --mobile-h3: 22px;
    --mobile-p: 18px;
    --h1-line-height: calc(var(--h1) * 1.2);
    --h2-line-height: calc(var(--h2) * 1.5);
    --h3-line-height: calc(var(--h3) * 1.5);
    --p-line-height: calc(var(--p) * 1.5);

    /* Botões*/
    --normal-btn: 44px;
    --large-btn: 54px;
    --extra-large-btn: 64px;
    --border-radius-normal-btn: 5px;
    --border-radius-large-btn: 10px;
    --border-radius-extra-large-btn: 15px;

    /* Sombras */
    --shadow-input: 1px 1px 2px var(--gray);
    --shadow-card: 2px 2px 2px var(--gray);
}

.wrapper-table {

}

.list {
    margin: 10px auto 32px auto;
    padding: 8px;
}

.list-item{
    font-size: var(--p);
    padding: 16px;
    border-top: 1px solid #aaa;
    color: var(--black-text);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    transition: background-color .2s;
}

.list-item:hover{
    background-color: var(--gray);
}

.list-item__text {
    align-self: center;
}

.list-item a {
    color: var(--black-text);
}

.list-item_icon {
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
    transition: color .2s;
}

.list-item_icon:hover {
    color: var(--red-text);
}

.list-item:last-child {
    border-bottom: 1px solid #aaa;
}

.transparency__title {
    font-size: var(--mobile-h1);
    color: var(--red-text);
    text-align: center;
    padding: 0.8rem;
    letter-spacing: .3px;
    font-weight: 600;
    font-family: var(--h2-font);
}


@media only screen and (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }

@media only screen and (min-width:480px) { 
    /* smartphones, Android phones, landscape iPhone */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .list{
        width: 95%;
    }

    .transparency__title {
        font-size: 3rem;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .list{
        width: 90%;
    }
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .list{
        width: 80%;
    }

    .list-item_icon {
        margin-right: 5px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .list{
        width: 75%;
        max-width: 850px;
    }

}   

